{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="Make  appoinments for Doctor from your home.">
  <title>Hospital</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" >
  <link rel="icon" href={% static 'assets/hospital.svg' %}>
</head>
<body>
  {% if user.is_authenticated %}
    <aside>
      <img src={% static '/assets/hamburger.svg' %} alt="menu" id='menu'>
      <nav>
        <ul>
          <li class="{% if 'home' in request.path %} active {% endif %}">
            <a href="{% url 'home' %}" id="home">
              <img src={% static '/assets/hospital.svg' %} alt="home">
              <div>Home</div>
            </a>
          </li>
          <li class="{% if 'profile' in request.path %} active {% endif %}">
            <a href="{% url 'profile' %}" id="profile">
              <img src={% static '/assets/user.svg' %} alt="profile">
              <div>Profile</div>
            </a>
          </li>
          <li class="{% if 'appointment' in request.path %} active {% endif %}">
            <a href="{% url 'makeAppointment' %}" id="makeAppointment">
              <img src={% static '/assets/scroll.svg' %} alt="makeAppointment">
              <div>Appointment</div>
            </a>
          </li>
          <li class="{% if 'history' in request.path %} active {% endif %}">
            <a href="{% url 'history' page=1 %}" id="history">
              <img src={% static '/assets/clipboard.svg' %} alt="history">
              <div>Histories</div>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  {% endif %}
  <div class="container">
    <header>
      <h1><a href="{% url 'index' %}">Aid|Me</a></h1>
      {% if user.is_authenticated %}
        <a href="{% url 'signout' %}" class="btn">Log Out</a>
      {% else %}
        <div>
          <a href="{% url 'signin' %}">Sign In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        </div>
      {% endif %}
    </header>
    {% block content %} {% endblock content %}
  </div>

  <script src={% static 'js/base.js' %}></script>
</body>
</html>