{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <section>
      <div>
        <h1>A fast, and secure solution for your medical need.</h1>
        <button class='primary-cta'><a href="{% url 'signup' %}">Get Started - For Free</a></button>
      </div>
      <img src="{% static 'assets/doctor-scope.svg' %}" alt=" ">
    </section>
    <section>
      <h2>Why use our service?</h2>
      <div class="baits">
        <div class="card">
          <img src="{% static 'assets/browser.svg' %}" alt="decorator image">
          <p>NO DOWNLOAD REQUIRED</p>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore qui alias non cupiditate ipsam quaerat sed natus dolorum nemo.</span>
        </div>
        <div class="card">
          <img src="{% static 'assets/money.svg' %}" alt="decorator image">
          <p>NO DOWNLOAD REQUIRED</p>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore qui alias non cupiditate ipsam quaerat sed natus dolorum nemo.</span>
        </div>
        <div class="card">
          <img src="{% static 'assets/globe.svg' %}" alt="decorator image">
          <p>NO DOWNLOAD REQUIRED</p>
          <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempore qui alias non cupiditate ipsam quaerat sed natus dolorum nemo.</span>
        </div>
      </div>
    </section>
    <section>
      <h2>Accessible from everywhere</h2>
      <h2>Your desktop, tablet & smartphone</h2>
      <img src="{% static 'assets/laptop-mobile.svg' %}" alt="decorator image">
    </section>
    <section>
      <h2>We're here to provide you the help you deserve</h2>
      <button class='primary-cta'><a href="{% url 'signup' %}">Get Started - For Free</a></button>
    </section>
  </main>
  <footer><p>All rights reserved to team Aid|Me</p></footer>
{% endblock content %}