{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <h2>Welcome {{ user.username }}</h2>
    <div class="contents">
      <div class="app">
        <h3>Next Appointment</h3>
        <p>Doctor Name</p>
        <p>March 26, 2112</p>
      </div>
      <div class="app">
        <h3>Last Appointment</h3>
        <p>Doctor Name</p>
        <p>March 26, 1560</p>
      </div>
    </div>
  </main>
{% endblock content %}