{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <div class="info">
      <h2>{{ patient.fullname }}</h2>
      <p class="light">{{ username }}</p>
      <p class="light">{{ email }}</p>
      <div class="details">
        <p>{{ patient.age }} years old {{ patient.gender }}</p>
        <P>Date of Birth: {{ patient.dob }}</P>
      </div>
      <a href="{% url 'update_profile' %}" id="update_profile">Update Profile</a>
    </div>
    <img src='{{ patient.picture.url }}' alt="Profile Picture">
  </main>
{% endblock content %}