{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <img src="{% static 'assets/signin.svg' %}" alt="Sign In">
    <div>
      <form method='POST'>
        {% if messages %}
          {% for message in messages %}
            <p class="msg">{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn">Sign In</button>
      </form>
      <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
    </div>
  </main>
{% endblock content %}