main {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}

main .history {
  display: initial;
  flex: 1;
  margin: 1rem 2rem;
  padding: 1rem 1rem;
  border-left: 1px groove rgba(128, 128, 128, 0.7);
  background-color: rgba(102, 204, 204, 0.2);
}

#confirmed {
  background-color: rgba(172, 255, 47, 0.2);
}

.history > p {
  text-align: center;
  width: 100%;
  padding-bottom: .2rem;
  margin-bottom: 1rem;
  border-bottom: 1px groove rgba(128, 128, 128, 0.5);
}

.history li{
  margin-bottom: .5rem;
  padding: .5rem 1rem;
  border-bottom: 1px groove rgba(128, 128, 128, 0.5);
  background-color: rgba(220, 20, 60, 0.1);
}

.history li p:last-child {
  font-weight: 200;
}

.page-ctas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.page-ctas > a {
  background-color: rgba(102, 204, 204, 0.8);
  padding: .5rem 2rem;
}

.page-ctas > a:active {
  outline: none;
  background-color: rgb(102, 204, 204);
  transform: scale(.9);
  transition: all 500ms ease-out;
}
.page-ctas > a:focus {
  outline: none;
}
.page-ctas > a:hover {
  background-color: rgb(102, 204, 204);
}

.page-ctas > a:last-child {
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px;
}

.page-ctas > a:first-child {
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px;
}

.page-ctas > a:active {
  transform: scale(.9);
  background-color: rgb(41, 180, 226);
  transition: all 500ms ease-in;
}

@media only screen and (min-width: 800px) {
  main {
    margin-bottom: 1rem;
  }
}