{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <h2>Welcome <a href="{% url 'profile' %}">{{ user.username }}</a></h2>
    <div class="contents">
      <div class="app">
        <h3>Next Appointment</h3>
        {% if next_app %}
          <p>{{ next_app.request.doctor }}</p>
          <p>State: {{ next_app.request.currentState }}</p>
          <p>{{ next_app.created_at }}</p>
        {% else %}
          <p>You have no Appointment at the moment.</p>
        {% endif %}
      </div>
      <div class="app">
        <h3>Last Request</h3>
        {% if last_req %}
          <p>{{ last_req.doctor }}</p>
          <p>State: {{ last_req.currentState }}</p>
          <p>{{ last_req.created_at }}</p>
        {% else %}
          <p>You have no Previous Requests.</p>
        {% endif %}
      </div>
    </div>
  </main>
{% endblock content %}