{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'css/update_profile.css' %}" rel="stylesheet" type="text/css" >
  <main>
    <h2>Hello {{user.username}}!</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="msg">
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    {% endif %}
    <div class="form">
      <form enctype='multipart/form-data' method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn">Update Profile</button>
      </form>
      {% if photo %}
        <img src='{{ photo.url }}' alt="Profile Picture">
      {% endif %}
    </div>
  </main>
  <script src={% static 'js/update_profile.js' %}></script>
{% endblock content %}