@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
}
body {
  height: calc(100vh - 64px);
  background-color: 	#e8edfd;
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 15rem;
}
#menu {
  display: none;
}
aside {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 2;
}
aside img {
  height: 1.8rem;
  cursor: pointer;
}
aside > img {
  transform: translateX(.50rem);
}
aside ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
aside ul li {
  display: block;
  border-radius: 4px;
  padding: .25rem .5rem;
  margin-bottom: .25rem;
}
aside ul li:hover {
  background-color: rgba(102, 204, 204, 0.3);
  cursor: pointer;
}
aside div {
  display: none;
  padding-left: .5rem;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-around;
  z-index: 20;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
h2 a {
  color: #e66980;
}
header a {
  padding: 0 .25rem;
}
header div a {
  font-weight: bold;
  font-size: 1.1rem;
}
header h1 a {
  color: #e66980;
}
.btn {
  padding: .5rem 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  background-color: #6ebd72e8;
  cursor: pointer;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.2 );
}
.btn:active {
  outline: none;
  background-color: #6EBD72;
  transform: scale(.9);
  transition: all 500ms ease-out;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #6EBD72;
}
.container {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: 3rem;
}
.menu {
  display: inherit;
}
.active {
  background-color: #e66980c9;
}
@media only screen and (min-width: 800px) {
  body {
    flex-direction: row;
    margin-bottom: 4rem;
  }
  #menu {
    display: initial;
  }
  aside {
    position: sticky;
    height: 100vh;
    top: 0;
    bottom: initial;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: inherit;
    box-shadow: none;
  }
  aside ul {
    display: initial;
  }
  aside ul li {
    line-height: 2rem;
  }
  nav {
    padding-top: 2rem;
  }
  nav a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: .5rem .25rem;
  }
}