{% extends 'assistant/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<link rel="stylesheet" href="{% static 'css/assistant.css' %}">
  <main>
    {% if reqs %}
      <ul class="history">
        <p>Requests | {{ doctor }} | Available: {{ doctor.available }}</p>
        {% for req in reqs %}
          <li id={% if req.confirmed %} "confirmed" {% endif %} >
            <p>{{ req.patient.fullname }}</p>
            <p>{{ req.created_at }}</p>
          </li>  
        {% endfor %}
      </ul>
      {% else %}
        <P class='blank history'>No Requests, yet!</p>
    {% endif %}
    {% if accepts %}
      <ul class="history">
        <p>Accepted | {{ doctor }} {{ page }}</p>
        {% for accect in accepts %}
          <li id={% if accect.confirmed %} "confirmed" {% endif %} >
            <p>{{ accect.patient.fullname }}</p>
            <p>{{ accect.created_at }}</p>
          </li>  
        {% endfor %}
      </ul>
      {% else %}
        <P class='blank history'>No Requests Accepted, yet!</p>
    {% endif %}
  </main>
{% endblock content %}