{% extends 'assistant/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/history.css' %}">
<link rel="stylesheet" href="{% static 'css/assistant.css' %}">
  <main>
    {% if reqsForms %}
      <ul class="history">
        <p>Requests | {{ doctor }} | Available: {{ doctor.available }}</p>
        {% for form in reqsForms %}
          {% if not form.req.confirmed %}
            <li id={% if form.req.confirmed %} "confirmed" {% endif %} >
              <p id="{{ form.req.id }}">{{ form.req.id }}. {{ form.req.patient }}</p>
              <p>{{ form.req.created_at }}</p>
              <form method="POST" action="{{ request.path }}?pk={{ form.req.id }}">
                {% csrf_token %}
                {{ form.form }}
                <button type="submit" {% if not doctor.available %} disabled {% endif %} >Save</button>
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <P class='blank history'>No Requests, yet!</p>
    {% endif %}
    {% if acceptsForm %}
      <ul class="history">
        <p>Accepted | {{ doctor }} {{ page }}</p>
        {% for form in acceptsForm %}
          {% if form.req.confirmed %}
            <li id={% if form.req.confirmed %} "confirmed" {% endif %} >
              <p id="{{ form.req.id }}">{{ form.req.id }}. {{ form.req.patient }}</p>
              <p>{{ form.req.created_at }}</p>
              <form method="POST" action="{{ request.path }}?pk={{ form.req.id }}">
                {% csrf_token %}
                {{ form.form }}
                <button type="submit">Save</button>
              </form>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <P class='blank history'>No Requests Accepted, yet!</p>
    {% endif %}
  </main>
{% endblock content %}